.sped_sidebar a {
    padding-left: 22px;
}
.sped_modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    background-color: #ffffff;
    box-shadow: 24px;
    padding: 20px;
}
.sped_modal_title svg{
    position: absolute;
    right: 20px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.sped_modal_description{
    margin-top:20px;
    box-shadow: none;
    /*height: 350px;*/
}
.sped_assessment_info{
    padding:20px 40px;
    height: 230px;
}
.sped_assessment_info .sped_info_box{
    padding:30px
}
.sped_assessment_info .sped_info{
    text-align: center;
    margin-top: 5px;
}
/* ------------------------------------------------------ */
.Mui-selected{
    background-color: #EFE9FF;
}